<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Innovo. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Mview\View">
        <plugin name="innovoRegisterUseCacheEntities" type="\Innovo\CacheImprove\Plugin\Mview\RegisterUseCacheEntities"/>
    </type>
</config>
